*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background: #232323;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  width: 100%; }

.square {
  width: 90vh;
  margin: 10vh auto 0 auto; }
  .square::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 75em) {
    .square {
      width: 90vw;
      margin: 2vh auto 0 auto; } }
  .square__box {
    width: 30%;
    background: #FFDA1A;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.2s; }
    @media (max-width: 75em) {
      .square__box {
        width: 38%;
        margin: 2% 5%;
        padding-bottom: 38%; } }
    @media (max-width: 37.5em) {
      .square__box {
        width: 45%;
        margin: 2.5%;
        padding-bottom: 45%; } }

.header {
  color: white;
  background: steelblue;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
  text-align: center; }
  @media (max-width: 37.5em) {
    .header {
      font-size: 1.7rem; } }
  @media (max-width: 20em) {
    .header {
      font-size: 1.4rem; } }

.hidden {
  opacity: 0;
  position: relative; }

#timer {
  position: absolute; }

.menu {
  text-align: center;
  background: white;
  height: 30px;
  margin: auto 0; }
  .menu__nav {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    transition: all 0.3s;
    outline: none;
    padding: 0 10px; }
    @media (max-width: 46.25em) {
      .menu__nav {
        font-size: 0.7rem; } }
    @media (max-width: 37.5em) {
      .menu__nav {
        font-size: 0.6rem;
        padding: 0 3px; } }
    @media (max-width: 20em) {
      .menu__nav {
        font-size: 0.5rem; } }
    .menu__nav__hover:hover {
      color: white;
      background: steelblue; }

.row {
  max-width: 80%;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    margin-bottom: 1rem; }
    .row [class^="col-"]:last-child {
      margin-bottom: 10rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
    .row .col-1-of-2:not(:nth-child(2n + 2)) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 12rem) /3); }
    .row .col-1-of-3:not(:nth-child(3n + 3)) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 12rem) /3)); }
    .row .col-2-of-3:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row .col-2-of-3 {
        width: 100%; } }
