.menu{
    text-align: center;
    background: white;
    height: 30px;
    margin: auto 0;


    

    &__nav{
        border: none;
        background: none;
        text-transform: uppercase;
        height: 100%;
        font-weight: 700;
        color:steelblue;
        font-family: 'Rubik', sans-serif;
        letter-spacing: 1px;
        transition: all 0.3s;
        outline: none;
        padding: 0 10px;

        @include respond(tab-port-2){
            font-size: 0.7rem;
        }

        @include respond(phone){
            font-size: 0.6rem;
            padding: 0 3px;
        }

        @include respond (phone-2){
            font-size: 0.5rem;       
        }

        
     

    
        &__hover:hover{
            color: white;
            background: steelblue;
        }

    }

}




